.users h1 {
    color: white;
}

.users {
    color: white;
    width: 30%;
    margin: 0 auto;
}

.userBlock {
    border: 1px solid white;
    margin-top: 10px;
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.ava img {
    width: 80px;
    height: 80px;
    border-radius: 60px;
}

.btn {
    width: 100px;
    height: 20px;
    background: white;
    color: black;
    cursor: pointer;

}

.userBlock-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.userBlock-info div {
    margin-right: 10px;
}